fastapi
uvicorn
sqlalchemy
psycopg2-binary

redis
celery

python-dotenv
PyJWT
cryptography

requests

google-genai

langchain
langgraph

pydantic

alembic

PyGithub

httpx

python-multipart

cryptography

pyjwt

black

isort

pytest

pydantic-settings